approxeng.input==2.4.0
evdev==1.2.0
pyserial==3.4
# pyserialtransfer>=1.1.7
# -e git+https://github.com/robberwick/pySerialTransfer.git@port_list_override#egg=pySerialTransfer
-e /home/pi/pySerialTransfer